[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/watchmakers"]
	path = external/watchmakers
	url = https://github.com:davehadley/watchmakers.git
[submodule "external/rat-pac"]
	path = external/rat-pac
	url = https://github.com:davehadley/rat-pac.git
[submodule "external/bonsai"]
	path = external/bonsai
	url = https://github.com:davehadley/bonsai.git
