[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uproot = "*"
bokeh = "*"
boost-histogram = "*"
dask = {extras = ["bag", "distributed", "jobqueue"], version = "*"}
matplotlib = "*"
mplhep = "*"
pandas = "*"
peroose = "*"
scikit-build = "*"
scipy = "*"
toolz = "*"
cloudpickle = "*"
distributed = "*"
dask-jobqueue = "*"
sqlitedict = "*"
tabulate = "*"
numpy = "*"
docopt = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
