[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uproot = "*"
bokeh = "*"
boost-histogram = "*"
dask = {extras = ["bag"], version = "*"}
matplotlib = "*"
mplhep = "*"
pandas = "*"
peroose = "*"
scikit-build = "*"
scipy = "*"
toolz = "*"
cloudpickle = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.8"
